:root{
    --main-color: #fefefe
}

html{
    box-sizing: border-box;
    margin: auto;
    background-color: #1d1f23;
    color: var(--main-color);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Mulish,sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    max-width: 980px;
    margin: auto;
}

li {
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

.main-name{
    color: var(--main-color);
    margin-top:0;
    margin-bottom:0;
    
}

.intro{
    background: rgb(48, 47, 47, 0.8) url(../img/img-andrii/background-main.jpg) no-repeat 50% 50%;
    background-blend-mode: darken;
    height: 340px;
    margin-top: -20px;
    padding-left: 105px;
    padding-top: 150px;
    font-family:Abril Fatface,cursive;
    font-size: 36px;
    font-weight: 700;
    text-align: center; 
    width: 1500px;
}

h2,h3{
    font-family: Abril Fatface,cursive;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin:  0 auto;
}

.header--title{
    font-size: 32px;
    color: var(--main-color);
    padding-left: 15px;
    padding-bottom: 23px;
}

.menu-link{
    color: var(--main-color);
}

.header--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.menu--list{
    display: flex;
    padding-left: 30px;
}

.menu--list-item{
    margin: 0 20px;
    padding-bottom: 23px;
}

.story-container-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.story-container-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
}

.container-team {
    background: rgb(48, 47, 47, 0.8) url(../img/img-sasha/guy-with-a-micsher.webp) no-repeat 50% 50%;
    background-blend-mode: darken;
    width: max-content;
}
.story-one{
    margin-top: 50px;
}

.story{
    color: #aab6cd;
}



.biography{
    color: #aab6cd;;
}


.subheading{
    color: #aab6cd;;
    text-align: center;
}

.listen{
    color:gold;
}



.one-team{
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.name-page{
    font-size: 56px;
    padding-bottom: 45px;
    align-items: center;
    text-align: center;
}

.menu-link:hover{
    color: #ffbc41;
}

.two-team{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.three-team{
    display: flex;
    justify-content: space-between;
    width: 1285px;
    color: #fefefe;
}
.team-image{
    border-radius: 50%;
}

.google-spotify{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.rss-apple{
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

.donate-button{
    font-size: 16px;
    color: #1d1f23;
    padding:  18px 35px;
    background: #ffc962;  
    transition: all .3s;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 425px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.donate-button:hover{
    background: #ffb72f;
}
.name-page-two{
    text-align: center;
    padding-top: 180px;  
    line-height: 1.22; 
    color: #fefefe;
    font-size: 45px;
}
.name-page-three{
    text-align: center;
    padding-top: 180px;  
    line-height: 1.22; 
    color: #fefefe;
    font-size: 45px;
}
.footer{
    background: #1d1f23;
}
.end-menu--list-item{
    margin: 0 20px;
    padding-bottom: 23px;
}
.footer--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.end-menu--list{
    display: flex;
    padding-left: 30px;
}
.footer--title{
    font-size: 32px;
    color: #fefefe;
    padding-left: 15px;
    padding-bottom: 23px;
}
.end-menu-link{
    color: #fefefe;
}
.created{
    font-style: normal;
    color: #fefefe;
}
.created-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    color: #fefefe;
}
.creators{
    color: #aab6cd;;
}
.end-menu-link:hover{
    color: #ffbc41;
}
.read-more{
    color: gold;
}
.read-more:hover{
    text-decoration: underline;
}
.team--people-link{
    color: #fefefe;
}
.listen:hover{
    text-decoration: underline;
}
