*,
*::after,
*::before { box-sizing: border-box;
            font-family: Abril Fatface, cursive;
            color: #fff;
}
html {
    background-color:#1d1f23;
}
body {
    max-width: 1240px;
    margin: auto;
    display: block;
}

body._lock {
    overflow: hidden;
}

.clock {
    padding-top: 10px;
}
header {
    height: 30px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

header div a {
    text-decoration: none;
}
.headertitle {
    font-size: 34px;
    font-stretch: 100%;
    font-weight: 400;
}

ul {
    margin-left: 0;
}
li {
    list-style-type: none;
    padding: 30px;
}
.menu-item-list a {
    font-family: Mulish,sans-serif;
    cursor: pointer;
}
.menu-item-list a:hover {
    color: #ffc962;
}
.container {
    max-width: 1220;
    margin: 0 auto;
    padding: 0px 10px;
}
.menu-list {
    display: flex;
    padding-left: 30px;
}

.menu-burger {
    display: none;
}

.podcast {
    background: rgb(48, 47, 47, 0.8) url(../img/img-tolik/phone-in-hand.jpg) 50% 50% / cover no-repeat;
    background-blend-mode: darken;
    height: 250px;
    font-size: 58px;
    margin-top: 100px;
}

body._touch .menu-item-list {
    flex: 1 1 auto;
} 

h1 {
    text-align: center;
    padding-top: 70px;
    font-weight: 400;
}
.heading-profession {  
    font-size: 45px;
    margin-left: 30px;
    font-weight: 400;
}
.heading-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.description-section {
    display: flex;
    background-color: rgba(128, 128, 128, 0.096); 
}
.description-section-down {
    flex-direction: row-reverse;
}
.people {
    height: 300px;
    width: 300px;
}
.episode-more {
    padding-left: 22px;
    padding-right: 22px;
}
.date {
    font-family: Muli, sans-serif;
    color: #aab6cd;
}
.information {
    font-size: 26px;
}
a {
    text-decoration: none;
}
.episode-item-link {
    color: #ffc962;
    cursor: pointer;
    font-family: Muli, sans-serif;
}
.episode-item-link:hover {
    text-decoration: underline;
}
.episodes-more-play {
    padding-right: 5px;
    padding-top: 15px;
    width: 33px;
    height: 33px; 
}
#follow-colora-podcast {
    font-size: 40px;
    font-weight: 400;
    font-stretch: 100%;
    text-align: center;
    line-height: 1.22;
    padding-top: 45px;
}
.subheading {
    font-size: 19px;
    line-height: 1.47;
    text-align: center;
}
.follow-colora-podcast-section {
    background: rgb(48, 47, 47, 0.8) url(../img/img-tolik/follow-background.webp) no-repeat 48.75% 83.64%;
    background-blend-mode: darken;
}
.logo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo-list-item {
    display: flex;
    margin: 0 30px 30px 55px;
    padding-bottom: 20px;
}
h3 {
    font-size: 24px;
    font-stretch: 100%;
    font-weight: 400;
}
.episode-item-link-logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}
.created-by {
    display: flex;
    justify-content: space-between;
}
.code {
    margin-top: 0px;
}
.reserved {
    margin-bottom: 10px;
}

@media (max-width: 1040px) {
    .podcast {
        background-size: auto;
        height: 200px;
        font-size: 40px;
        margin-top: 130px;
    }
    .information {
        font-size: 17px;
    }
    .heading-profession {
        margin: 15px;
        font-size: 40px;
    }
    .heading-section {
        background-size: auto;
        gap: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .people {
        width: 300px;
        height: 300px;
    }
    .date {
        font-size: 10px;
    }
    .menu-list {
        flex-wrap: wrap;
        font-size: 15px;
        padding-left: 10px;
        line-height: 0;
    }  
    
}
@media (max-width: 769px) {
    .podcast {
        background-size: auto;
        height: 150px;
        font-size: 32px;
        margin-top: 140px;
    }

    .menu-burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-bottom: 41px;
    }

    .menu-burger span,
    .menu-burger::before,
    .menu-burger::after {
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu-burger::before,
    .menu-burger::after {
        content: "";
    }

    .menu-burger::before {
        top: 0;
    }

    .menu-burger::after {
        bottom: 0;
    }

    .menu-burger span {
        top: 50%;
        transform: scale(1) translate(0px -50%);
    }

    .menu-burger._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu-burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); 
        padding: 100px 30px 30px 30px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .menu._active {
        left: 0;
    }

    .menu::before {
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 0;
    }

    .menu-item-list {
        font-size: 24px;
    }

    h1 {
        padding-top: 35px;
        font-size: 40px;
    }
    .menu-list {
        flex-wrap: wrap;
        font-size: 13px;
        padding-left: 10px;
        line-height: 0;
    }

    .headertitle {
        font-size: 23px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 1;
    }
    li {
        padding: 25px;
    }
    .heading-section {
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;
        background-size: auto;    
    }
    .heading-profession {
        margin: 10px;
        font-size: 30px;
    }
    .people {
        width: 50%;
    }
    .follow-colora-podcast-section {
        background-size: auto;
    }
    .logo-list-item {
        flex-wrap: wrap;
    }
}
    

@media (max-width: 380px) {
    .podcast {
        background-size: auto;
        height: 90px;
        font-size: 25px;
        margin-top: 170px;
    }
    
    h1 {
        padding-top: 22px;
        font-size: 32px;
    }

    li {
       padding: 20px;
   }
   
    .heading-section {
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;
        background-size: auto;    
    }
    .heading-profession {
        margin: 10px;
        font-size: 20px;
    }
    .people {
        width: 100px;
        height: 100px;
    }
    .follow-colora-podcast-section {
        background-size: auto;
        }
    .logo-list-item {
        flex-wrap: wrap;
    }
}



