* { box-sizing: border-box;
    font-family: Abril Fatface, cursive;
    color: #fff;
}
html {
    background-color:#1d1f23;
}
header {
    height: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

header div a {
    text-decoration: none;
}
.headertitle {
    font-size: 34px;
    font-stretch: 100%;
    font-weight: 400;
}
ul {
    margin-left: 0;
}
li {
    list-style-type: none;
    padding: 30px;
}
.menu-item-list a {
    font-family: Muli,sans-serif;
}
.container {
    max-width: 1220;
    margin: 0 auto;
    padding: 0 10px;
}
.menu-list {
    display: flex;
    padding-left: 30px;
}
.podcast {
    background: rgb(48, 47, 47, 0.8) url(../img/img-tolik/phone-in-hand.jpg) 50% 50% / cover no-repeat;
    background-blend-mode: darken;
    height: 250px;
    font-size: 58px;
}
h1 {
    text-align: center;
    padding-top: 70px;
    font-weight: 400;
}
.heading-profession {  
    font-size: 45px;
    margin-left: 30px;
    font-weight: 400;
}
.heading-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.description-section {
    display: flex;
    background-color: rgba(128, 128, 128, 0.096); 
}
.description-section-down {
    flex-direction: row-reverse;
}
.episode-more {
    padding-left: 22px;
    padding-right: 22px;
}
.date {
    font-family: Muli, sans-serif;
    color: #aab6cd;
}
.information {
    font-size: 26px;
}
a {
    text-decoration: none;
}
.episode-item-link {
    color: #ffc962;
    cursor: pointer;
    font-family: Muli, sans-serif;
}
.episode-item-link:hover {
    text-decoration: underline;
}
.episodes-more-play {
    padding-right: 5px;
    padding-top: 15px;
    width: 33px;
    height: 33px; 
}
#follow-colora-podcast {
    font-size: 40px;
    font-weight: 400;
    font-stretch: 100%;
    text-align: center;
    line-height: 1.22;
    padding-top: 45px;
}
.subheading {
    font-size: 19px;
    line-height: 1.47;
    text-align: center;
}
.follow-colora-podcast-section {
    background: rgb(48, 47, 47, 0.8) url(../img/img-tolik/follow-background.webp) no-repeat 48.75% 83.64%;
    background-blend-mode: darken;
}
.logo-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo-list-item {
    display: flex;
}
h3 {
    font-size: 24px;
    font-stretch: 100%;
    font-weight: 400;
}
.episode-item-link-logo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}   


