* { box-sizing: border-box;
    font-family: Abril Fatface, cursive;
}
html {
    background-color:#1d1f23;
}
header {
    height: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

header div a {
    color: #fff;
    text-decoration: none;
}
.headertitle {
    font-size: 34px;
    font-stretch: 100%;
    
}
ul {
    margin-left: 0;
}

li {
    list-style-type: none;
    padding: 30px;
}
.menu-item-list a {
    font-family: Muli,sans-serif;
}
.container {
    max-width: 1220;
    margin: 0 auto;
    padding: 0 10px;
}

.menu-list {
    display: flex;
    padding-left: 30px;
}
.podcast {
    background: url(../img/img-tolik/phone-in-hand.jpg) 50% 50% / cover no-repeat;
    height: 250px;
    color: #fff;
    font-size: 58px;
}
h1 {
    text-align: center;
    padding-top: 70px;
}