@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap);

 * {
    box-sizing: inherit;
    margin: 0;
   
}

header{
    background-color: #1d1f23;
    padding: 30px 40px;
}

.headertitle{
    color:#fefefe;
    text-decoration: none;
    
}

div .menu{
    color:#fefefe;
    text-decoration: none;
   
}
.container{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.banner {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
    url(../img/img-vlada/fon-shop.jpg);
    height: auto;
    padding: 100px 0;
    font-family: "Abril Fatface", cursive;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fefefe;
}

.main {
    background-color: #1d1f23;
    padding: 95px 0;
    font-family: "Mulish", sans-serif;

}
.products {
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.photo {
    width: 250px;
    height: 200px;
}
 h2 {
     color:#fefefe;
 }

  h3 {
      color:#E03A3E;
  }