@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap); @import url(https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap); * {
    box-sizing: border-box;
    font-family: Abril Fatface, cursive;
    color: #fff;

}

html {
    background-color: #1d1f23;
    max-height: 1100px;
}


body._lock{
    overflow: hidden;
}

header {
    height: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

header div a {
    text-decoration: none;
}

.headertitle {
    font-size: 34px;
    font-stretch: 100%;
    font-weight: 400;
    font-family: Abril Fatface, cursive;
}

ul {
    margin-left: 0;
}

li {
    list-style-type: none;
    padding: 30px;
}

.menu-item-list a {
    font-family: Muli,sans-serif;
    cursor: pointer;
}

.menu-item-list a:hover {
    color: #ffc962;
}

.menu-icon{
    display: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu-list {
    display: flex;
    padding-left: 30px;
}

.banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/img-vlada/fon-shop.jpg);
    height: auto;
    padding: 100px 0;
    margin-top: 100px;
    font-family: "Abril Fatface", cursive;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #fefefe;
}

.main {
    background-color: #1d1f23;
    font-family: "Mulish", sans-serif;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

.photo {
    width: 100%;
    margin: 30px 0 0;
    padding: 0 15px;
}

h2 {
    color: #fefefe;
    text-align: center;
    font-weight: 400;
}


.cost {
    color: #E03A3E;
    text-align: center;
}

.button {
    font-size: 16px;
	color: #1d1f23;
	padding: 15px 40px;
	background: #ffc962;
	transition: all .3s;
	border: 1px solid transparent;
	display: inline-block;
	margin-right: 20px;
    cursor: pointer;
}

.button:hover {
    background: #ffb72f; 
}

.buttons{
    text-align: center;
}

.modal-footer button {
    color: black;
    font-weight: 400;
}

/*footer*/

.footer--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    text-decoration: none;
}

.footer--inner a {
    text-decoration: none;
}

.footer--inner a h2 {
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
}
.end-menu--list{
    display: flex;
    padding-left: 30px;
}
.footer--title{
    font-size: 32px;
    color: #fefefe;
    padding-left: 15px;
    padding-bottom: 23px;
    text-decoration: none;
}
.end-menu-link{
    color: #fefefe;
    text-decoration: none;
    font-family: Mulish,sans-serif;
}
.end-menu-link:hover {
    color: #ffc962;
}

.created-by {
    display: flex;
    justify-content: space-between;
    font-family: Mulish, sans-serif;
}

.date {
    font-family: Mulish, sans-serif;
    color: #aab6cd;
}
.code {
    margin-top: 0px;
}

.reserved {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.69;
    font-weight: 400;
    font-family: Mulish, sans-serif;
}



@media (max-width: 1040px) {
    .products{
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        font-size: 13px;
        padding-left: 10px;
        line-height: 0;
    }

    .photo {
        width: 100%;
        
    }
}


@media (max-width: 750px) {
    .menu-list, .footer--inner{
        display: flex;
        align-items: center;
    }

    .menu-list, .footer--inner > li{
        padding: 10px 0;
    }

    .conteiner {
        background-size: auto;
        height: 150px;
        font-size: 32px;
        margin-top: 140px;
    }
    .products{
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        font-size: 13px;
        padding-left: 10px;
        line-height: 0;
    }
    .headertitle {
        font-size: 23px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 1;
    }
    li {
        padding: 25px;
    }
    .heading-section {
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;
        background-size: auto;    
    }
    .h2 {
        margin: 10px;
        font-size: 20px;
    }
    .photo {
        width: 100%;
        
    }

    .button {
        font-size: 16px;
        color: #1d1f23;
        padding: 5px 28px;
        background: #ffc962;
        transition: all .3s;
        border: 0px solid transparent;
        display: inline-block;
        margin-right: 19px;
    }

    .menu-icon{
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;  
      height: 18px;
    }
     
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transform: all 0.3s ease 0s;
      background-color:#aab6cd;
    }
    
    .menu-icon::before,
    .menu-icon::after{
        content: "";
    }

    .menu-icon::before{
       top: 0;  
    }
    .menu-icon::after{
        bottom: 0;
    }
    
    .menu-icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    
    .menu{
       position: fixed;
       top: 0;
       width: 100%;
       height: 100%;
       transform: translate(-100%, 0px);
       background-color: rgba(0, 0, 0, 0.9);
       padding: 100px 30px 30px 30px;
       transition: all 0.3s ease 0s;
       overflow: auto;
    }
     
    .menu._active{
        transform: translate(0, 0);
    }
    .menu-list > li{
        margin: 0 0 30px 0;
    }

    .menu-list > li:last-child{
        margin-bottom: 0;
    }

    .menu-list {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #1d1f23;
        right: 0;
        text-align: center;
        transform: translateY(-65px);
        transition: all .8s;
    }
    .end-menu--list-item{
        display: none;
    }

    .footer--inner {
        justify-content: center;
    }

    }

@media (max-width: 440px){

    .menu-list, .footer--inner{
        display: flex;
        align-items: center;
    }

    .menu-list, .footer--inner > li{
        padding: 10px 0;
    }

    .conteiner{
        background-size: auto;
        height: 90px;
        font-size: 25px;
        margin-top: 170px; 
    }
    .products{ 
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;
        background-size: auto;   
    }
    .headertitle {
        font-size: 23px;
        font-weight: 400;
        margin-left: 10px;
        line-height: 1;
    }
    li {
        padding: 25px;
    }
    .heading-section {
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 10px;
        background-size: auto;    
    }
    .heading-profession {
        margin: 10px;
        font-size: 30px;
    }
    
    .photo{
        width: 100%;
    }

    h2{
        font-size: 11px;
    }
    .footer--title{
        font-size: 11px;
    }

    .button {
        font-size: 12px;
        color: #1d1f23;
        padding: 10px 20px;
        background: #ffc962;
        transition: all .3s;
        border: 1px solid transparent;
        display: inline-block;
        margin-right: 20px;
    }
    .end-menu--list-item{
        display: none;
    }

    

}






